version: '3.9'

services:
  postgres:
    image: postgres:16-alpine
    container_name: nuremageris_pg
    environment:
      POSTGRES_DB: nuremageris
      POSTGRES_USER: bench
      POSTGRES_PASSWORD: bench
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/schema:/docker-entrypoint-initdb.d
    command:
      - "postgres"
      - "-c"
      - "shared_buffers=256MB"
      - "-c"
      - "work_mem=64MB"
      - "-c"
      - "max_connections=100"
      - "-c"
      - "log_min_duration_statement=1000"

volumes:
  pgdata:
